<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/index}">Invoice Manager</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:if="${session.userSession == null}">
                    <a class="nav-link" th:href="@{/login}">Login <span class="sr-only"></span></a>
                </li>
                <li class="nav-item" th:if="${session.userSession != null and session.userSession.role =='admin'}">
                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item dropdown" th:if="${session.userSession != null}">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       id="navbarDropdown" role="button">
                        Invoice
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/invoice}">List of Invoices</a>
                        <a class="dropdown-item" th:href="@{/invoice/searchForm}">Search for Invoices</a>
                        <a class="dropdown-item" th:if="${session.userSession.role !='user'}" th:href="@{/invoice/create}">Create new Invoice</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${session.userSession != null}">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

</div>
