<!DOCTYPE html>
<html layout:decorate="components/default">
<body>
<div class="container mt-3 mb-3 col-md-5" layout:fragment="content" >
    <div class="container my-2">
    <h1 class="text-center">Create Invoice</h1>
        <form action="#" method="post" th:action="@{/invoice/addNewInvoice}" th:object="${invoiceModel}">
            <div class="form-group" >
                <label class="control-label" for="customer">
                    Customer's Name:
                </label>
                <input autofocus="autofocus" class="form-control" id="customer" required th:field="*{customerName}" type="text"/>
                <p class="alert alert-danger" th:errors="*{customerName}" th:if="${#fields.hasErrors('customerName')}">Customer name
                    error</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="dateOfInvoice">
                    Date of Invoice:
                </label>
                <input autofocus="autofocus" class="form-control" id="dateOfInvoice" required th:field="*{dateOfInvoice}" type="date"/>
                <p class="alert alert-danger" th:errors="*{dateOfInvoice}" th:if="${#fields.hasErrors('dateOfInvoice')}">Date
                    error</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="dueDate">
                    Due Date:
                </label>
                <input autofocus="autofocus" class="form-control" id="dueDate" required th:field="*{dueDate}" type="date"/>
                <p class="alert alert-danger" th:errors="*{dueDate}" th:if="${#fields.hasErrors('dueDate')}">Due date
                    error</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="title">
                    Title:
                </label>
                <input autofocus="autofocus" class="form-control" id="title" required th:field="*{title}" type="text"/>
                <p class="alert alert-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Title
                    error</p>
            </div>
            <div class="form-group">
                <label class="control-label" for="comment">
                    Comment:
                </label>
                <input autofocus="autofocus" class="form-control" id="comment" required th:field="*{comment}" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="price">
                    Price:
                </label>
                <input autofocus="autofocus" class="form-control" id="price" required th:field="*{price}" type="text"/>
                <p class="alert alert-danger" th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price
                    error</p>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <div class="form-group mr-2 ">
                    <a th:href="@{/invoice}" class="btn btn-success py-3" style="width:150px;">Back</a>
                </div>
                <div class="form-group">
                    <button class="btn btn-info py-3" type="submit" style="width:150px;">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>