<!DOCTYPE html>
<html layout:decorate="components/default">
<body>
<div class="container mt-3 mb-3" layout:fragment="content">
    <h1 class="text-center">Edit Invoice</h1>
    <div class="container mt-3 mb-3">
        <form action="#" method="post" th:action="@{/invoice/updateInvoice}" th:object="${invoiceModel}">
            <input name="id" th:field="${invoiceModel.id}" type="hidden">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="width:150px;">Customer Name</span>
                <input aria-label="Sizing example input" class="form-control" th:field="*{customerName}" type="text">
                <p class="alert alert-danger" th:errors="*{customerName}" th:if="${#fields.hasErrors('customerName')}">
                    Customer name error</p>
            </div>


            <div class="input-group input-group-lg">
                <span class="input-group-text w-15" id="inputGroup-sizing-lg"
                      style="width:150px;">Date of Invoice</span>
                <input class="form-control" required th:field="*{dateOfInvoice}" type="date">
                <p class="alert alert-danger" th:errors="*{dateOfInvoice}"
                   th:if="${#fields.hasErrors('dateOfInvoice')}">Date error</p>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="width:150px;">Due date: </span>
                <input class="form-control" required th:field="*{dueDate}" type="date">
                <p class="alert alert-danger" th:errors="*{dueDate}" th:if="${#fields.hasErrors('dueDate')}">Due date
                    error</p>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="width:150px;">Title: </span>
                <input class="form-control" required th:field="*{title}" type="text">
                <p class="alert alert-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Title error</p>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="width:150px;">Comment: </span>
                <input class="form-control" th:field="*{comment}" type="text">
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="width:150px;">Price: </span>
                <input class="form-control" th:field="*{price}" type="number">
                <p class="alert alert-danger" th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price error</p>
            </div>

            <div class="form-group">
                <button class="btn btn-success mt-3 py-3 float-right" style="width:150px;" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
