<!DOCTYPE html>
<html layout:decorate="components/default">
<body>

<div class="mt-3 mb-3" layout:fragment="content">
    <h1>Invoice</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    List of invoices.
                </h3>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Recipient
                        </th>
                        <th>
                            Date of Invoice
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Titel
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i:${invoice}">
                        <td th:text="${i.id}">
                            1
                        </td>
                        <td th:text="${i.getCustomerName}">
                            TB - Monthly
                        </td>
                        <td th:text="${i.dateOfInvoice}">
                            01/04/2012
                        </td>
                        <td th:text="${i.dueDate}">
                            01/05/2012
                        </td>
                        <td th:text="${i.title}">
                            Default
                        </td>
                        <td th:text="${i.comment}">
                            Default
                        </td>
                        <td th:text="${i.price} + ' Ft'">
                            3000
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>