<!DOCTYPE html>
<html layout:decorate="components/default">
<body>

<div layout:fragment="content">
    <h1 th:if="${mainTitle}" class="alert alert-success text-center pb-3" th:text="${mainTitle}">
        Success!
    </h1>
    <h1 th:unless="${mainTitle}" class="alert text-center mb-4">List of Invoices</h1>
    <div class="container mb-3">
        <div class="container-fluid mt-3 mb-3 row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-sm text-center">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Recipient
                        </th>
                        <th>
                            Date of Invoice
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Titel
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i:${invoices}">
                        <td th:text="${i.id}">
                            1
                        </td>
                        <td th:text="${i.getCustomerName}">
                            TB - Monthly
                        </td>
                        <td th:text="${i.dateOfInvoice}">
                            01/04/2012
                        </td>
                        <td th:text="${i.dueDate}">
                            01/05/2012
                        </td>
                        <td th:text="${i.title}">
                            Default
                        </td>
                        <td th:text="${i.comment}">
                            Default
                        </td>
                        <td th:text="${i.price} + ' Ft'">
                            3000
                        </td>
                        <td>
                            <form action="#" method="post" th:action="@{/invoice/delete}" th:object="${i}">
                                <input name="id" type="hidden" th:value="${i.id}">
                                <button class="btn btn-danger" type="submit" name="deleteItem">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="#" method="post" th:action="@{/invoice/editForm}" th:object="${i}">
                                <input name="id" type="hidden" th:value="${i.id}">
                                <button class="btn btn-secondary" type="submit" name="editItem">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>