<!DOCTYPE html>
<html layout:decorate="~{components/default}">
<body>

    <div layout:fragment="content">
        <h1 class="alert alert-success text-center">Registration</h1>
        <div class="container mt-3 mb-3 w-50">
            <form action="#" method="post" th:action="@{processSignUp}" th:object="${userModel}">
                <div class="input-group input-group-lg my-4">
                    <span class="input-group-text w-15" style="width:150px;">Username: </span>
                    <input type="text" autofocus="autofocus" class="form-control" required th:field="*{username}">
                    <p class="alert alert-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">User error</p>
                </div>
                <div class="input-group input-group-lg my-4">
                    <span class="input-group-text w-15" style="width:150px;">Password: </span>
                    <input type="password" autofocus="autofocus" class="form-control" required th:field="*{password}">
                    <p class="alert alert-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password error</p>
                </div>
                <div class="input-group input-group-lg my-4">
                    <span class="input-group-text w-15" style="width:150px;">Password again: </span>
                    <input type="password" autofocus="autofocus" class="form-control" required th:field="*{rePassword}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-right py-3" type="submit" style="width: 150px">Register</button>
                    <span>Already a user? <a href="/" th:href="@{/login}">Login</a></span>
                </div>
            </form>
        </div>
    </div>

</body>
</html>